.root {
    -fx-background-color: #6f1516;
}

.button {
    -fx-background-color: transparent;
    -fx-font-family: Adventure;
    -fx-font-size: 15;
    -fx-text-fill: white;
}

.button:hover {
    -fx-text-fill: red;
}

.text-area .content {
    -fx-background-color: black;
}

.text-input {
    -fx-font-family: Chilanka;
}