.button {
    -fx-background-color: transparent;
    -fx-font-family: Adventure;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-background-image: url("../resources/images/menus/button.png");
    -fx-pref-width: 192;
    -fx-pref-height: 70;
}

.button:hover {
    -fx-font-size: 23;
    -fx-text-fill: red;
}

.label {
    -fx-font-family: Adventure;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-pref-width: 206;
    -fx-pref-height: 50;
    -fx-background-image: url("../resources/images/menus/label.png");
}

.list-view {
    -fx-font-family: Adventure;
}

.list-view .list-cell {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:selected {
    -fx-text-fill: red;
}

.list-view .list-cell:hover {
    -fx-text-fill: red;
}

#goldAmount {
    -fx-background-image: null;
    -fx-text-fill: gold;
    -fx-max-width: 40;
}

#elixirAmount {
    -fx-background-image: null;
    -fx-text-fill: lightblue;
    -fx-max-width: 40;
}

#level {
    -fx-background-image: url("../resources/images/menus/level.png");
    -fx-pref-width: 161;
    -fx-pref-height: 46;
    -fx-font-size: 15;
}

#score {
    -fx-background-image: url("../resources/images/menus/score.png");
    -fx-pref-width: 163;
    -fx-pref-height: 42;
    -fx-font-size: 15;
}

#unit {
    -fx-background-image: null;
    -fx-font-size: 20;
    -fx-pref-width: 200;
}

#unit:hover {
    -fx-text-fill: red;
}
