.root {
    -fx-background-color: #6f1516;
}

.button {
    -fx-background-color: transparent;
    -fx-font-family: Adventure;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-background-image: url("../resources/images/menus/button.png");
    -fx-pref-width: 192;
    -fx-pref-height: 70;
}

.button:hover {
    -fx-font-size: 23;
    -fx-text-fill: red;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: Adventure;
    -fx-font-size: 20;
}

.text-field {
    -fx-font-family: Adventure;
    -fx-font-size: 20;
}

.list-view .list-cell {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:selected {
    -fx-text-fill: red;
}

.list-view .list-cell:hover {
    -fx-text-fill: red;
}

.table-view {
    -fx-background-color: black;
    -fx-font-family: Adventure;
    -fx-font-size: 20;
}

.table-view .column-header .label{
    -fx-text-fill: black;
}
