.button {
    -fx-font-family: Adventure;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-text-fill: red;
}

.root {
    -fx-background-image: url("../resources/images/start/background.jpg");
}

.text-field {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.label {
    -fx-font-family: Adventure;
    -fx-text-fill: white;
}

.check-box {
    -fx-font-family: Adventure;
    -fx-text-fill: white;
}